
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
	border-color: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	outline: none !important;
}
.form-control:focus {
	border-color: #35ff3f;
	outline: 0;
	box-shadow: none !important;
}




.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	color: $gray;
}

.list-group-item:focus{
	background-color: transparent !important;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}


@mixin animation ($property, $duration, $animation) {

    transition: $property $duration $animation;
    -webkit-transition: $property $duration $animation;
    -moz-transition: $property $duration $animation;
    -o-transition: $property $duration $animation;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}




