
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}


.col-xs-52 {
  width: 52%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  overflow: hidden;
}


.col-xs-48 {
  width: 48%;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  overflow: hidden;
}

.col-xs-47-1 {
  padding-left: 15px;
  padding-right: 15px;
  width: 47.1%;
  float: left;
  overflow: hidden;
}

.col-xs-52-9 {

  padding-left: 15px;
  padding-right: 15px;
  width: 52.9%;
  float: left;
  overflow: hidden;

}

.col-md-7-4 {
  padding-left: 15px;
  padding-right: 15px;
  width: 74%;
  float: left;
  overflow: hidden;
}

.col-md-1-3 {
  width: 13%;
  float: left;
  overflow: hidden;
}

.special-padding-null {

  padding-right: 0px;
}

@media (max-width: $screen-sm) {

  .special-padding-null {

    padding: 0px !important;
  }

}

.btn-ico {

  i {
    margin-right: 10px;
  }
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.float-right-md {

  a {
    width: 100%;
  }
}

@media (min-width: $screen-sm) {
  .float-right-md {
    float: right;
    text-align: right;
    a {
      width: initial;
    }
  }
}

/*FONT SIZES*/
.fs-12 {
  font-size: 12px;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.margin-left-10 {
  margin-left: 10px;
}

/* HEIGHT */

.h-100p {
  height: 80px;
}

/* WIDTH */
.w100p {
  width: 100%;
}

.min-h-420 {
  min-height: 420px;
}

/* COLUMNS */

.column-right {

  padding-left: 15px !important;
}

/* FORMS */

.form-controls {
  margin-top: 100px;
}

/* LEGEND */

.legend-top {
  padding-bottom: 10px;
}

//BORDERS
.border-transparent {
  border: 0px solid transparent !important;;

}

.chosen-container {
  width: 100% !important;
}

.divider-100 {
  width: 100px;
  height: 10px;
  position: relative;
}

/* FONT STYLE */

.bold {
  font-weight: bold;
}

.btn {
  outline: none !important;
}

.btn-awesome {

  padding-top: 10px;
  .ico {

    padding-right: 15px;
    border-right: 1px solid #484848;
    margin-top: -7px;
    margin-bottom: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    font-size: 18px;
    width: 35px;

  }

}

.btn-facebook {
  background-color: #3b5998 !important;
  color: white !important;
  border: 1px solid #3b5998 !important;
  i {
    padding-left: 5px !important;
  }

  &:hover {
    background-color: #2b4b8d !important;
    border: 1px solid #3b5998 !important;
  }
}

.btn-paypal {
  background-color: #179bd7 !important;

}

.btn-gratis {
  background-color: #ff0099 !important;
}