.top-menu {

  li {
    cursor: pointer;

    i {
      position: relative;
      display: block;
      text-align: center;
      font-size: 20px;
    }

    @media (max-width: $screen-sm) {

      i {
        position: relative;
        display: inline-block !important;
        margin-right: 15px;
      }
    }

    a {
      padding-top: 15px;
      padding-bottom: 13px;
    }
  }

}

//checkboxes under forms

.active-options .checkbox {

  display: inline-block;
  margin-right: 20px;
}

.panel-advertisement {
  display: inline-block;
  margin-right: 10px;
  .panel-body {
    padding: 0px;
  }
}