.item-advertisement {
  margin-bottom: 10px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;

  background-color: rgba(210, 210, 210, 0.51);
  padding: 10px 15px !important;;
  .modified {

    font-size: 12px;
    text-align: left;
    display: inline;
  }
  .status {
    font-size: 12px;


    display: inline;
  }

  @media (min-width: $screen-sm) {

    .status {
      text-align: right;
    }
  }

}