
.navbar{

	border-radius: 0px;
}

.container {
	width: 100%;
}

.master-content{
	min-height: 705px;
	padding-bottom: 25px;
	max-width: 1366px;

	&.admin{

		min-height: 705px;
		max-width: 100% !important;
	}
}

.content{
	padding-right:15px;
	padding-left: 15px;
}
@media (max-width: 1400px)
{
	.container {
		width: 100%;
	}
}



.item-table{
	min-height: 45px;
	padding: 10px;

	.item-controls{
		top:-3px;
	}

	&.header{
		font-weight: bold;
	}

	.dinamic {
		
		.m-title{
			display: none;

		}
	}

	@media (max-width: $screen-sm) {
		&.header{
			display:none;
		}
		.dinamic {
			text-align: left !important;
			.m-title{
				font-weight: bold;
				margin-right: 5px;

				display: inline-block;

			}
		}
	}
}