.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-brand {
  font-size: 30px;
}

@media (min-width: 768px) {
  .navbar-center {

    position: absolute !important;
    left: 50%;
    margin-left: -200px;
  }
}
