<script>

	function Field()
	{
		return { 
			name :null,
			class :null,
			msg: null,
			state: null
		}
	}

	export default {
		data: function()
		{
			return {

				teste: 'edit cate',
				active:{
					on: 1,
					off: 0
				},
				fields:{
					name: new Field(),
					reference: new Field(),
					order: new Field(),
				},
			}
		},
		props:['category'],

		methods:{
			dashboard: function(){
				this.$parent.$emit('getView', 'categories/show');

			},
			checkActive: function(value){
				if(value)
				{
					this.active.on = 1;
					this.active.off= 0;
					this.category.active =1;
				}
				else
				{
					this.active.on = 0;
					this.active.off= 1;
					this.category.active =0;
				}
			},
			save: function(e)
			{

				var local = this;
				this.$http.put('categories/' + this.category.id , this.category).then(function(request){


					local.$parent.$emit('noty', new noty('success', '<strong>Category</strong> saved with success', 3000, null));
					local.dashboard();


				},
				function(request){
					for (var key in this.fields) {
						var field = this.fields[key];
						field.state = true;
						field.class="";
					}

					for (var key in request.data.fields) {
						var field = request.data.fields[key];
						this.fields[key].state= true;
						this.fields[key] = field;
					}

				});

				e.preventDefault();

			}
		},
		ready : function(){

			var local = this;
			$(this.$els.parent).chosen();

			$(this.$els.parent).on('change', function(e) {
			    // triggers when whole value changed
			    local.category.parent =  $(e.target).val();

			})

		}
	};


	function noty(_type, _message, _timeout, _function ){
		this.type=_type;
		this.message =_message;
		this.timeout=_timeout;
		this.function = _function;
		return this;

	}

</script>

<style>
</style>