<template>
	<textarea :id="id" :name="id" v-model="field" :rows="rows"></textarea>
</template>

<script>
	export default
	{
		name:'ckeditor',
		props : ['id', 'rows', 'field', 'toolbar', 'heigth'],
		data: function(){
			return{
				
			}
		}, 
		methods: {
			'teste' : function(e){
				console.log(this.field);
			}
		},
		ready: function(){
			var local = this;
			CKEDITOR.replace(local.id, { toolbar: local.toolbar, height: local.height});

			CKEDITOR.instances[local.id].on('change', function() { 
				local.field = this.getData();
				console.log(local.field);
			});

			CKEDITOR.instances[local.id].on('focus', function() { 
				 $("#header-bg").colorpicker('hide');
				 $("#content-bg").colorpicker('hide');
				 $("#footer-bg").colorpicker('hide');
			});

		}
	}
</script>

<style>
</style>