<template>

    <div class="list-group table-of-contents">
      <a class="list-group-item" href="#navbar">Navbar</a>
      <a class="list-group-item" href="#buttons">Buttons</a>
      <a class="list-group-item" href="#typography">Typography</a>
      <a class="list-group-item" href="#tables">Tables</a>
      <a class="list-group-item" href="#forms">Forms</a>
      <a class="list-group-item" href="#navs">Navs</a>
      <a class="list-group-item" href="#indicators">Indicators</a>
      <a class="list-group-item" href="#progress-bars">Progress bars</a>
      <a class="list-group-item" href="#containers">Containers</a>
      <a class="list-group-item" href="#dialogs">Dialogs</a>
    </div>
</template>

<script>
  export default {
    ready() {
      console.log('Component ready agagin.')
    }
  }
</script>
