<template>
	
		<div class="alert alert-dismissible" v-bind:class="['alert-'+ noty.type]">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{{ noty.message }}}
				<div class="controls" v-if="noty.type=='warning'">
					<button type="button" class="btn btn-sm btn-danger" data-dismiss="alert">Cancel</button>
					<button type="button" class="btn btn-sm btn-primary" @click="execute(noty);">Confirm</button>
				</div>
			</div>
		</div>
	
</template>

<script>
	export default {
		data: function()
		{
			return {


			}
		},
		props:['noty'],
		methods: {

			execute: function(noty){			
				this.$parent.$emit('execute', noty.function, noty);
			}
		}
	};
</script>

<style>
</style>