
<script>

	function TreeNode(){
		this.id = null;
		this.name = '';
		this.checked = false;
		this.children=[];
		return this;
	}

	import treeItem from './treeItem.vue';
	export default
	{
		data: function(){
			return{
				treeData: [],
				parents: [],
			}
		},
		components:{ 'treeItem' : treeItem	},
		props:['dataset', 'checked'],
		methods: {
			bindTree: function(){

				var local = this;
				this.parents.forEach(function(item, index){
					var ui  = local.bindIten(item);
					local.treeData.push(ui);
				})

			},
			bindIten: function(item){
				var local = this;

				var node = new TreeNode();
				if(item.id != undefined)
					node.id = item.id;
				node.name = item.name;
				if(item.checked != undefined)
					node.checked = item.checked;
			    // check for children
			    var children = this.dataset.filter(function(child){ return child.parent == item.id});
			    children.forEach(function(child, index){ 
			    	node.children.push(local.bindIten(child));
			    })

			    return node;
			},
			checkItens: function(){
				var local = this;
				this.checked.forEach(function(id, index){ 
					local.dataset.filter(function(item){ return item.id == id})[0].checked = true;
				})

			}, 
			getChecked: function(){
				var local = this;
				
				this.checked =[];
				this.treeData.forEach(function(iten, index){
					local.getCheckedIten(iten);
				});

				console.log(this.checked);

			},
			getCheckedIten: function(iten){
				var local = this;

				if(iten.checked)
				{	
					local.checked.push(iten.id);
					iten.children.forEach(function(child, index_child){
						local.getCheckedIten(child);
					})
				}

			}
		},
		events:{
			'set-checked' : function(){

				console.log("setting checked");
				this.getChecked();
			}

		},
		ready: function(){

			this.checkItens();
			this.parents = this.dataset.filter(function(item){ return item.parent == null});
			this.bindTree();

		}
	}
</script>

<style>
</style>