<template>
	<li><div @click="openNode()">
		<div class="checkbox abc-checkbox abc-checkbox-primary">
			<input type="checkbox" class="styled" v-model="model.checked">
			<label>{{ model.name }}</label>
		</div> 
	</div>
	<ul v-show="model.checked">
		<li v-for="child in model.children">
			<tree-item :model="child"></tree-item>
		</li>
	</ul>
</li>
</template>

<script>
	import treeItem from './treeItem.vue';
	export default
	{
		name:'treeItem',
		props: {
			model: Object
		},
		methods:{
			openNode: function(){
				
				this.setRecursive(this.model, !this.model.checked);
				
			},
			setRecursive:function(model, checked){
				var local = this;
				model.checked = checked;
				if(model.children != undefined)
				{
					model.children.forEach(function(child_model, index){
						local.setRecursive(child_model, checked);
					})
				}

				this.$dispatch('set-checked');

			}
		},
		components: { 'treeItem' : treeItem }
	}
</script>

<style>
</style>