$header-background: #6D6C6C;
$header-color: #ffffff;
$footer-background: #6D6C6C;
$footer-color: #ffffff;

.ads-transition{
	transform: rotateY(0deg);

}

.ads-enter {
	@include animation (all, 500ms, ease);
	transform: rotateY(90deg);
	opacity: 0;
}

.ads-leave {
	@include animation (all, 500ms, ease);

	
}



//columns
.col-1{
	width: 228px;
	height: 420px;
	float: left;
}

.col-2{
	
	width: 455px;
	height: 420px;
	float: left;

}


.col-mobile{
	@include calc('width', '100% - 12px');
	height: 100px !important;
	.ads{
		width: 100% !important;
		height: 100% !important;
		.header, .content, .footer{
			display: none;
		}
	}
}


.ads{
	background-color:white;
	float: left;;
	margin: 5px;
	boder:none;
	@include animation (all, 300ms, ease);
	border-radius: 2px;
	-webkit-box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.4);

	background-size: contain;

	p{
		margin: 0 0 -2px !important;
	}
	.header, .content, .footer{
		padding: 5px;
		overflow: hidden;
	}

	.header{
		background-color:  $header-background;
		color: $header-color;
	}

	.footer
	{
		background-color:  $footer-background;
		color: $footer-color;
	}
}


$a-width-1: 217.5px;
$a-width-2: 445px;
.a1x1{
	width: $a-width-1 !important;
	height: 150px !important;

	.header{
		height: 30px;
	}
	.content{
		height: 90px
	}
	.footer{
		height: 30px;
	}

	//structure
	&.full{
		.content{
			height: 150px;
		}
	}
	&.full-header{
		.content{
			height: 120px;
		}
	}

	&.full-footer{
		.content{
			height: 120px;
		}
	}

	.image-upload{

		width: 100%;
		height: 100%;
		padding-top: 10px;
		text-align: center;

		.image-ico{
			font-size: 40px;
		}

		button{
			margin-top: 10px;
		}
	}

}

.a1x2{
	width: $a-width-1 !important;
	height: 250px !important;

	.header{
		height: 75px;
	}
	.content{
		height: 145px
	}
	.footer{
		height: 30px;
	}
	//structure
	&.full{
		.content{
			height: 250px;
		}
	}
	&.full-header{
		.content{
			height: 175px
		}
	}

	&.full-footer{
		.content{
			height: 220px
		}
	}

	.image-upload{
		width: 100%;
		height: 100%;
		padding-top: 40px;
		text-align: center;
		
		.image-ico{
			font-size: 50px;
		}

		button{
			margin-top: 20px;
		}
	}


}

.a1x3{
	
	width: $a-width-1 !important;
	height: 410px !important;

	.header{
		height: 120px;
	}
	.content{
		height: 230px;
	}
	.footer{
		height: 60px;
	}
		//structure
		&.full{
			.content{
				height: 410px;
			}
		}
		&.full-header{
			.content{
				height: 290px;
			}
		}

		&.full-footer{
			.content{
				height: 350px;
			}
		}

		.image-upload{
			width: 100%;
			height: 100%;
			padding-top: 100px;
			text-align: center;

			.image-ico{
				font-size: 60px;
			}

			button{
				margin-top: 20px;
			}
		}


	}


	.a2x1{

		width: $a-width-2 !important;
		height: 150px !important;

		.header{
			height: 30px;
		}
		.content{
			height: 90px
		}
		.footer{
			height: 30px;
		}

		//structure
		&.full{
			.content{
				height: 150px;
			}
		}
		&.full-header{
			.content{
				height: 120px;
			}
		}

		&.full-footer{
			.content{
				height: 120px;
			}
		}
	.image-upload{

		width: 100%;
		height: 100%;
		padding-top: 10px;
		text-align: center;

		.image-ico{
			font-size: 40px;
		}

		button{
			margin-top: 10px;
		}
	}

}

.a2x2{
	width: $a-width-2 !important;
	height: 250px !important;

	.header{
		height: 75px;
	}
	.content{
		height: 145px
	}
	.footer{
		height: 30px;
	}


	&.header-logo{

		.logo
		{
			width: 50px;
			position: absolute;
			left: 15px;
			top: 10px;
		}

		.header{
			padding-left: 90px;
		}
	}

	//structure
	&.full{
		.content{
			height: 250px;
		}
	}
	&.full-header{
		.content{
			height: 175px
		}
	}

	&.full-footer{
		.content{
			height: 220px
		}
	}

	
	.image-upload{
		width: 100%;
		height: 100%;
		padding-top: 40px;
		text-align: center;
		
		.image-ico{
			font-size: 50px;
		}

		button{
			margin-top: 20px;
		}
	}

}

.a2x3{
	width:$a-width-2 !important;
	height: 410px !important;

	.header{
		height: 120px;
	}
	.content{
		height: 230px;
	}
	.footer{
		height: 60px;
	}


	&.header-logo{

		.logo
		{
			width: 65px;
			position: absolute;
			left: 15px;
			top: 10px;
		}

		.header{
			padding-left: 90px;
		}
	}


	&.full{
		.content{
			height: 410px;
		}
	}
	&.full-header{
		.content{
			height: 290px;
		}
	}

	&.full-footer{
		.content{
			height: 350px;
		}
	}

	.image-upload{
			width: 100%;
			height: 100%;
			padding-top: 100px;
			text-align: center;
			
			.image-ico{
				font-size: 60px;
			}

			button{
				margin-top: 20px;
			}
		}
}
