.auth
{
	height:100%;
	overflow:hidden;
	.auth_wrapper{
		width: 200%;
		overflow: hidden;
		position: relative;

		@include animation(all, 0.5s, ease);

		section{
			height: 100%;
			width: 50%;
			float: left;

			&.login{

				.panel{
					margin-top: 50px;
				}
			}

			form{
				
				.controls
				{
					padding-top: 20px;
					text-align:right;
				}
			}

		}

		//scences

		&.login{

			left: 0%;
		}

		&.register{
			left: -100%;
		}
	}

	
}

.user-control{


	@media (min-width: $screen-sm)
	{
		.dropdown-alerts{

			width: 300px !important;
			left: 0px;

			a{
				height: 71px;
			}
		}

		.dropdown-toggle{
			height: 71px;
		}
	}




	.user-logo{
		margin-left: 8px;
		width: 30px;
		border-radius:3px;
	}

	.dropdown-menu{
		width: 100%;
	}
	.logout{
		i{
			color: $brand-danger;
			margin-right: 10px;
		}
	}
}