.list-grid{
	margin-top: 10px;
	> li{
		cursor: pointer;
		margin-right: 0px;
		margin-left: 0px;
		

		.sort{
			padding: 4px;
			font-size: 22px;
			display: inline-block;
			width: 19px;
			height: 20px;
			border: 1px solid #333;
			border-radius: 15px;
			top:5px;
			position: relative;
			left: 10px;
		}
		.sort i{
			top: -9px;
			position: relative;
			left: -5px;
		}

		.label-status{
			width: 100%;
			display: block;
			padding-top: 5px;
			padding-bottom: 5px;
			text-transform: uppercase;
		}
		.label-active{
			background-color: $brand-primary;
			&:hover{
				color:white;
			}
		}
		.label-inactive{
			background-color: $brand-danger;
			&:hover{
				color:white;
			}
		}
		.edit{
			margin-right: 10px;
			font-size: 18px;
			&:hover{
				color: $brand-primary;
			}
		}
		.remove{
			margin-right: 10px;
			font-size: 18px;
			&:hover{
				color: $brand-danger;	
			}

		}

		

		.page-index li {
			cursor: pointer;
		}

		.page-size li{
			cursor: pointer;
		}
	}
	.active, :hover, .active:hover{
		color: $gray;
	}
}


@media(max-width: 767px)
{
	.list-grid{
		> li
		{
			.edit, .remove{

				padding-top: 10px;
			}
			


		}
		
	}
}
