.modal{
	z-index: 2100;
}
.modal-backdrop{
	z-index: 2099;
}

.modal-resize{
	top:30px;
}


.logo-resize{
	border: 1px solid red;
	width: 200px !important;
	height: 200px !important;
}

.croppie-container{
	padding: 0px !important;
}