.noty {

  position: fixed;
  z-index: 2000;
  &.relative {
    position: relative !important;
    .alert{
      position: relative !important;
      display: block !important;;
    }
  }
  &.bottom-right {
    right: 20px;
    bottom: 0px
  }
  .alert {
    margin-bottom: 10px !important;
  }
  .controls {
    margin-top: 10px;
    text-align: right;
  }
}