.btn-search {

  background-color: transparent !important;
  color: white;
  box-shadow: none;
  font-size: 25px;
  position: relative;
  padding: 0px;
  margin-left: 10px;
}

.search-form {
  margin-bottom: 0px;
  top: -4px;
  position: relative;

}