.templates{

	.template{

		margin-left: 15px;
		margin-right: 25px;
		display: inline-block;
		float: left;
		padding: 5px;
		width: 200px;
		height: 200px;
		-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		
		display: inline-block;
		
		.header, .content, .footer, .logo{
			display: inline-block;
			background-color: #F5F5F5;
			@include calc(width, '100% - 10px');
			margin: 5px;
			text-align: center;
			padding: 5px !important;
		}

		&.full-content{

			.content{
				padding-top:20px !important;
				height: 180px;
			}

			i{
				font-size: 30px;
			}

		}

		&.logo-header-content{
			.logo{
				width: 50px;
				height: 50px;
				display: inline-block;
				float: left;
				padding-top: 15px !important;
				i{
					font-size: 20px;
				}


			}

			.header{
				float: left;
				display: inline-block;
				height: 50px;
				padding-top:10px !important;
				width: 120px;
				padding-top: 10px !important;
			}


			.content{
				padding-top: 20px !important;

				height: 120px;
				text-align: center;
			}

		}

		&.header-content
		{
			
			.header{

				height: 50px;
				padding-top:10px !important;
			}

			.content{
				padding-top: 20px !important;

				height: 120px;
				text-align: center;
			}


		}

		&.content-footer
		{
			

			.content{
				padding-top: 20px !important;

				height: 120px;
				text-align: center;
			}

			.footer{

				height: 50px;
				padding-top:10px !important;
			}


		}

		&.header-content-footer
		{
			
			.header{

				height: 50px;
				padding-top:10px !important;
			}

			.content{
				padding-top: 3px !important;
				height: 75px;
				text-align: center;
			}

			.footer{
				height: 35px;
			}

		}

	}
}


