.templates{

	height: 100%;
	overflow: hidden;
	.template-wrapper{

		height: 100%;
		width: 160px;
	}

	.template{

		margin-bottom: 10px;
		font-size: 10px;
		float: left;
		padding: 5px;
		width: 150px;
		height: 150px;
		-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		display: inline-block;

		&.size{
			.header{

				font-size: 10px;
				margin-bottom: 0px !important;
			}

			.title{
				@include calc(width, '100% - 10px');
				padding-top:10px;
				margin-left:5px;
				margin-right: 5px;
				font-size: 30px;
				font-weight: bold;
				height: 75px;
				text-align: center;
				background-color:white;
			}
			.dimensions{

				margin-top: 0px !important;
				img{
					padding-left: 5px;
					width: 20px;
					float: left;
				}

				span{
					padding-left:10px;
				}
			}
			
		}

		@include animation(all, 0.5s, ease);

		&.active, &:hover{
			background-color:rgba(12, 132, 228, 0.5);

		}
		.header, .content, .footer, .logo{
			display: inline-block;
			background-color: #E5e5e5;
			@include calc(width, '100% - 10px');
			margin: 5px;
			text-align: center;
			padding: 5px !important;
		}

		&.full-content{

			.content{
				padding-top:40px !important;
				height: 130px;
			}

			i{
				font-size: 30px;
			}

		}


		&.full-image{

			.content{
				padding-top:30px !important;
				height: 130px;
			}

			i{
				font-size: 30px;
			}

		}

		&.logo-header-content{
			.logo{
				width: 30px;
				height: 30px;
				display: inline-block;
				float: left;
				i{
					font-size: 18px;
					padding-top: 2px;
				}


			}

			.header{
				float: left;
				display: inline-block;
				height: 30px;
				width: 90px;
			}


			.content{
				padding-top: 15px !important;

				height: 90px;
				text-align: center;
			}

		}

		&.header-content
		{
			
			.header{

				height: 30px;
				padding-top:5px !important;
			}

			.content{
				padding-top: 15px !important;

				height: 90px;
				text-align: center;
			}


		}

		&.content-footer
		{
			

			.content{
				padding-top: 20px !important;

				height: 90px;
				text-align: center;
			}

			.footer{

				height: 30px;
				padding-top:5spx !important;
			}


		}

		&.header-content-footer
		{
			
			.header{

				height: 30px;
				padding-top:5px !important;
			}

			.content{
				padding-top: 1px !important;
				height: 55px;
				text-align: center;
			}

			.footer{
				height: 25px;
			}

		}

	}
}


