.template-preview {

  height: 450px;
  position: relative;
  background-color: #E5E5E5;

  .ads {

    margin: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;

  }
}

.colorpicker {

  &.dropdown-menu {
    margin-left: 22px !important;
    margin-top: 7px !important

  }


}

.color-picker-input {
  display: inline !important;
  width: 100px !important;
  font-size: 12px !important;
  height: 25px !important;
  margin-right: 10px !important;
  text-align: center !important;
}

.wizard {

  .panel-heading {

    > span {
      cursor: pointer;
    }
  }
  //background-color: red;
  width: 1321px;
  overflow: hidden;

  .step-wrapper {
    width: 500%;
    overflow: hidden;
    position: relative;

    @include animation (left, 0.5s, ease);

    .step {
      width: 20%;
      height: 450px;
      float: left;

    }

    /*Steps*/
    &.size {
      left: 0%;
    }

    &.edition {

      left: -100%;
      textarea {

        width: 100%;
      }

    }

    &.options {

      left: -200%
    }

    &.preview {
      left: -300%;

    }

    &.complete {
      left: -400%;

    }

  }

  .bottom-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;

    .controls {

      text-align: right;
    }
  }

  .colorpicker-component {

    display: inline;
    float: right;
    font-size: 12px;
    .input-group-addon {

      display: inline-block;
      i {
        height: 25px;
        width: 25px;
        border: 1px solid #E5E5E5;
      }
    }

    span {
      font-size: 12px;
      padding: 0px;
      position: relative;
    }
    .title {
      margin-right: 10px;
    }

  }

}