<script>
    export default {
        data: function()
        {
            return {
            	text:'this a test',
            	data:[],
                params:{
                    skip:0,
                    take:1,
                    page: 0,
                    filters:{
                        reference :'',
                        value:'',
                    },
                    sorts:{}   
                },
                page:{
                    sizes:[10,20,50,100],
                    pages:[]
                },
                classes:{
                    active:{ all:'active', on :'', off:''}
                }
            }
        },
        methods: {

        	bind: function(){
        		
        		var local = this;

        		this.$http.get('/words', { params: local.params }).then(function(request){

                    local.setData(request.data.data, request.data.pages);

                }, function(){


                })
        	},
            rebind : function(){
               
                this.bind(); 

            }, 
            setData(records, pages){

                this.data = records;
                this.page.pages = [];
                
                for (var i = 0; i < pages; i++) {

                    this.page.pages.push(i);
                }

            },
            changeSize: function(size){

                this.params.take = size;
                this.bind();
            },
            changePage: function(page){
                this.params.page = page;
            	this.params.skip = this.params.take * page;
            	this.bind();
            },
            getView : function(view){

                this.$dispatch('getView', view);
            },
            remove: function(id){

                this.$parent.$emit('noty', new noty('warning', 'Are you sure about to delete this word ?', null, 'removeWord('+ id +')'));
            }
        },
        events:{

            removeWord: function(id){

                var local = this;
                this.$http.delete('words/' + id).then(function(request){
                    if(request.data.result)
                        local.bind();

                }, function(){


                })


            }
        },
        ready: function(){

            //set pager settings
            this.params.take = this.page.sizes[0]; 
            this.params.filters["reference"] = "";
            this.params.sorts["reference"] = "asc";

            this.bind();
        }
    };


    function noty(_type, _message, _timeout, _function ){
        this.type=_type;
        this.message =_message;
        this.timeout=_timeout;
        this.function = _function;
        return this;

    }

</script>

<style>
</style>