/* Fonts */
//@import "node_modules/lato-font/scss/lato-font";
$font-family-sans-serif: 'Lato', sans-serif;

/* Font Awsewome */
$fa-font-path:"../fonts/font-awesome";
@import "node_modules/font-awesome/scss/font-awesome";



/* Base */
@import 'theme/_variables.scss';


/* Bootstrap*/
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



$input-border-color : #ddd;
$blue-sky: rgb(178, 219, 251);

.sky-bg
{
	background-color: $blue-sky;
}

.sky{

}

@import 'theme/_bootswatch.scss';

.abc-checkbox label::before {
    width: 20px !important;
    height: 20px !important;
    left: -1px !important;
}

@import 'plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss';

//@import 'base/_bootstrap.scss';


/* Checkboxes */
//@import "public/plugins/awesome-bootstrap-checkbox-master/awesome-bootstrap-checkbox.scss";
// Plugins
@import "../plugins/chosen/chosen.min.css";
@import "../plugins/bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker.min.css";

@import 'base/utils.scss';
@import 'base/mixins.scss';




/* Layout */
@import 'layout/header.scss';
@import 'layout/nav.scss';
@import 'layout/index.scss';
@import 'layout/views.scss';
@import 'layout/footer.scss';
@import 'layout/admin.scss';
@import 'layout/customer.scss';

/* Componentes */
@import 'components/templates.scss';
@import 'components/tree.scss';
//@import 'components/panels.scss';
@import 'components/auth.scss';
@import 'components/ads.scss';
//@import 'components/list.scss';
@import 'components/noty.scss';
@import 'components/search.scss';
@import 'components/wizard.scss';
//@import 'components/modal.scss';