<script>

	function Field()
	{
		return { 
			name :null,
			class :null,
			msg: null,
			state: null
		}
	}

	export default {
		data: function()
		{
			return {

				teste: 'edit cate',
				fields:{
					name: new Field(),
					email: new Field(),
					password: new Field()
				},
			}
		},
		props:['user'],

		methods:{
			dashboard: function(){
				this.$parent.$emit('getView', 'users/show');

			},
			save: function(e)
			{

				var local = this;
				
				this.$http.put('users/' + this.user.id , this.user).then(function(request){


					local.$parent.$emit('noty', new noty('success', '<strong>User</strong> saved with success', 3000, null));
					
					local.dashboard();

				},
				function(request){
					for (var key in this.fields) {
						var field = this.fields[key];
						field.state = true;
						field.class="";
					}

					for (var key in request.data.fields) {
						var field = request.data.fields[key];
						this.fields[key].state= true;
						this.fields[key] = field;
					}

				});

				e.preventDefault();

			}
		}
	};


	function noty(_type, _message, _timeout, _function ){
		this.type=_type;
		this.message =_message;
		this.timeout=_timeout;
		this.function = _function;
		return this;

	}

</script>

<style>
</style>