<script>

    function Field() {
        return {
            name: null,
            class: null,
            msg: null,
            state: null
        }
    }

    export default {
        data: function () {
            return {

                teste: 'edit cate',
                fields: {
                    name: new Field(),
                    class: new Field(),
                    price: new Field()
                },
            }
        },
        props: ['size'],

        methods: {
            dashboard: function () {
                this.$parent.$emit('getView', 'sizes/show');

            },
            save: function (e) {

                var local = this;

                this.$http.put('sizes/' + this.size.id, this.size).then(function (request) {

                            local.$parent.$emit('noty', new noty('success', '<strong>Size</strong> saved with success', 3000, null));
                            local.resetFields();
                            local.dashboard();

                        },
                        function (request) {
                            local.resetFields();
                            for (var key in request.data.fields) {
                                var field = request.data.fields[key];
                                this.fields[key].state = true;
                                this.fields[key] = field;
                            }

                        });

                e.preventDefault();

            },
            resetFields: function () {
                for (var key in this.fields) {
                    var field = this.fields[key];
                    field.state = true;
                    field.class = "";
                }
            }
        },
        ready: function () {

            var local = this;
            $(this.$els.parent).chosen();

            $(this.$els.parent).on('change', function (e) {
                // triggers when whole value changed
                local.location.parent = $(e.target).val();

            })

        }
    };


    function noty(_type, _message, _timeout, _function) {
        this.type = _type;
        this.message = _message;
        this.timeout = _timeout;
        this.function = _function;
        return this;

    }

</script>

<style>
</style>