<script>
    export default {
        data: function () {
            return {
                data: []
            }
        },
        props:["size", "languages"],
        methods: {

            bind: function () {
                var local = this;

                this.$http.get('sizes/templates/' + local.size.id).then(function (request) {

                    local.data = request.data;

                }, function () {


                })
            },
            getView: function (view) {

                this.$dispatch('getView', view);
            },
            remove: function (id) {

                this.$parent.$emit('noty', new noty('warning', 'Are you sure about to delete this Size ?', null, 'removeTemplate(' + id + ')'));
            },
            close: function () {
                this.$parent.$emit('getView', 'sizes/show');

            }
        },
        events: {

            removeTemplate: function (id) {

                var local = this;
                this.$http.delete('advertisements/' + id).then(function (request) {
                    if (request.data.result)
                        local.bind();

                }, function () {


                })

            }
        },
        ready: function () {

            this.bind();
        }
    };


    function noty(_type, _message, _timeout, _function) {
        this.type = _type;
        this.message = _message;
        this.timeout = _timeout;
        this.function = _function;
        return this;

    }

</script>

<style>
</style>