<script>

    function noty(_type, _message, _timeout, _function) {
        this.type = _type;
        this.message = _message;
        this.timeout = _timeout;
        this.function = _function;
        return this;

    }


    function Field() {
        return {
            name: null,
            class: null,
            msg: null,
            state: null
        }
    }

    export default{

        data: function () {
            return {

                fields: {
                    name: new Field(),
                    slogan: new Field(),
                    email: new Field(),
                    support_email: new Field(),
                    no_reply_email: new Field(),
                    country: new Field(),
                    address: new Field(),
                    number: new Field(),
                    postcode: new Field(),
                    language: new Field(),
                    currency: new Field(),
                    tva: new Field()
                },


            }
        },
        props: ["settings"],
        methods: {
            dashboard: function () {
                this.$parent.$emit('getView', 'settings/show');

            },
            save: function (e) {


                var local = this;
                this.$http.put('settings/-1', this.settings).then(function (request) {


                            local.$parent.$emit('noty', new noty('success', '<strong>Settings</strong> saved with success', 3000, null));
                            local.resetFields();
                            local.dashboard();


                        },
                        function (request) {

                            local.resetFields();
                            for (var key in request.data.fields) {
                                var field = request.data.fields[key];
                                this.fields[key].state = true;
                                this.fields[key] = field;
                            }

                        });

                e.preventDefault();


            },
            resetFields: function () {
                for (var key in this.fields) {
                    var field = this.fields[key];
                    field.state = true;
                    field.class = "";
                }
            }
        },
        ready: function () {

            var local = this;

            $(this.$els.countries).chosen();

            $(this.$els.countries).on('change', function (e) {
                console.log("changed");
                // triggers when whole value changed
                local.settings.country = $(e.target).val();

            })


            $(this.$els.languages).chosen();
            $(this.$els.languages).on('change', function (e) {
                // triggers when whole value changed
                local.settings.language = $(e.target).val();

            })

            $(this.$els.currencies).chosen();

            $(this.$els.currencies).on('change', function (e) {
                // triggers when whole value changed
                local.settings.currency = $(e.target).val();

            })

        }

    }

</script>