<script>
    export default {
        data: function()
        {
            return {
            	text:'this a test',
            	data:[],
                params:{
                    skip:0,
                    take:1,
                    filters:{
                        name :'',
                        reference:'',
                        active:''
                    },
                    sorts:{}   
                },
                page:{
                    sizes:[10,20,50,100],
                    pages:[]
                },
                classes:{
                    active:{ all:'active', on :'', off:''}
                }
            }
        },
        methods: {

        	bind: function(){
        		
        		var local = this;


        		this.$http.get('/categories', { params: local.params }).then(function(request){

                    local.setData(request.data.data, request.data.pages);

                }, function(){


                })
        	},
            rebind : function(){
                console.log(this.params.filters.name);
                this.bind(); 

            }, 
            setData(records, pages){
                console.log(records);
                console.log(pages);
                this.data = records;
                this.page.pages = [];
                
                for (var i = 0; i < pages; i++) {
                               
                    this.page.pages.push(i);
                }

            },
            changeSize: function(size){

                this.params.take = size;
                this.bind();
            },
            changePage: function(page){

            	this.params.skip = this.params.take * page;
            	this.bind();
            },
            changeActive : function(param){

                this.params.filters.active = param;

                this.classes.active.off = "";
                this.classes.active.on = "";
                this.classes.active.all = "";

                switch(param)
                {

                    case 0:
                        this.classes.active.off = "active";
                    break;

                     case 1:
                        this.classes.active.on = "active";
                    break;

                    default:
                        this.classes.active.all = "active";
                    break;
                }
                this.bind();

            },
            getView : function(view){

                this.$dispatch('getView', view);
            }
        },
        ready: function(){

            //set pager settings
            this.params.take = this.page.sizes[0]; 
            this.params.filters["name"] = "";
            this.params.sorts["name"] = "asc";

            this.bind();
        }
    };
</script>

<style>
</style>