<script>

	function Field()
	{
		return { 
			name :null,
			class :null,
			msg: null,
			state: null
		}
	}

	export default {
		data: function()
		{
			return {

				teste: 'edit cate',
				active:{
					on: 1,
					off: 0
				},
				default:{
					on: 0,
					off: 1
				},
				fields:{
					name: new Field(),
					code: new Field(),
				},
			}
		},
		props:['language'],

		methods:{
			dashboard: function(){
				this.$parent.$emit('getView', 'languages/show');

			},
			checkActive: function(value){
				if(value)
				{
					this.language.active =1;
				}
				else
				{
					this.language.active =0;
					this.language.default =0;
				}
			},
			checkDefault: function(value){
				if(value)
				{
					this.language.default =1;
				}
				else
				{
					this.language.default =0;
				}
			},
			save: function(e)
			{

				var local = this;
				
				this.$http.put('languages/' + this.language.id , this.language).then(function(request){


					local.$parent.$emit('noty', new noty('success', '<strong>Language</strong> saved with success', 3000, null));
					
					local.dashboard();

				},
				function(request){
					for (var key in this.fields) {
						var field = this.fields[key];
						field.state = true;
						field.class="";
					}

					for (var key in request.data.fields) {
						var field = request.data.fields[key];
						this.fields[key].state= true;
						this.fields[key] = field;
					}

				});

				e.preventDefault();

			}
		},
		ready : function(){


		}
	};


	function noty(_type, _message, _timeout, _function ){
		this.type=_type;
		this.message =_message;
		this.timeout=_timeout;
		this.function = _function;
		return this;

	}

</script>

<style>
</style>